.container {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #92e3a9;
    max-width: max-content;
    color: #263238;
    cursor: pointer;
    font-weight: 500;
  }

.container :hover 
.container :focus
{
    transform: translateY(-0.25em);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}  